@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Simple Project MVC with some clean code techniques, clean architecture and development patterns.</a></p>
</div>
